* {
  font-family: "Inter";
  color: $black;
  margin: 0;
  padding: 0;
}

body {
  background: $bg-color;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding-inline: 10px;
}

.filler {
  min-height: calc(100vh - 375px);
  padding-top: 68px;
  padding-bottom: 100px;
}

.section-title {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
}

.transition-default {
  transition: all .3s ease-in-out;
  &:hover {
    transition: all .3s ease-in-out;
  }
  &::before,
  &::after {
    transition: all .3s ease-in-out;
    &:hover {
      transition: all .3s ease-in-out;
    }
  }
  &:active {
    transition: all .1s ease-in-out;
  }
}

.blur-bg {
  background: rgba(142, 133, 135, 0.30);
  backdrop-filter: blur(10px);
  position: fixed;
  inset: 0;
  pointer-events: none;
  opacity: 0;
  &.active {
    pointer-events: auto;
    opacity: 1;
  }
}

.std-btn {
  border-radius: 4px;
  border: none;
  outline: none;
  flex: 0 0 auto;
}

.purple-btn {
  background: $main-purple;
  color: $white;
  padding: 15px 30px;
  text-align: center;
  @media (hover: hover) {
    &:hover {
      background: $hover-purple;
    }
  }
  &:active {
    background: $black;
  }
}

.pale-purple-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 4px;
  background: $opacity-purple;
  color: $main-purple;
  @media (hover: hover) {
    &:hover {
      background: rgba(103, 87, 169, 0.30);
    }
  }
  &:active {
    background: rgba(103, 87, 169, 0.50);
    color: $white;
  }
}

.slider-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #E1D9DB;
  border-radius: 4px;
  border: none;
  opacity: .3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  @media (hover: hover) {
    &:hover {
      background: #D5CCCE;
      opacity: .5;
    }
  }
  &:active {
    background: #BEB4B6;
    opacity: .7;
  }
}

.contain-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img-wrapper-contain {
  position: relative;
  &>img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.img-wrapper-cover {
  position: relative;
  &>img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card-hover {
  border: 1px solid transparent;
  @media (hover: hover) {
    &:hover {
      border: 1px solid #CDC9CA;
    }
  }
  &:active {
    border: 1px solid $black-light;
  }
}

.products-slider {
  position: relative;
  .slick-track {
    display: flex;
    gap: 12px;
  }
  &__items {
    margin: 30px -6px 0;
  }
  &__prev {
    left: -55px;
  }
  &__next {
    right: -55px;
  }
}

.close-menu {
  width: 28px;
  height: 28px;
  border: none;
  background: transparent;
  margin-left: auto;
  z-index: 1;
}

.no-image {
  padding: 40px;
  opacity: .2;
}

.breadcrumbs {
  margin-top: 20px;
  color: $pale-grey;
  span {
    color: inherit;
  }
  a {
    text-decoration: none;
    color: $black;
    &:hover {
      color: $main-purple;
    }
  }
}

.pagination {
  margin-top: 40px;
  justify-content: center;
  .page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    color: $main-purple;
    text-decoration: none;
    transition: all .3s ease-in-out;
    &.prev,
    &.next {
      stroke: $main-purple;
      background: #EFEEEE;
    }
    &.prev {
      transform: rotate(90deg);
    }
    &.next {
      transform: rotate(-90deg);
    }
    @media (hover: hover) {
      &:hover {
        background: $opacity-purple;
      }
    }
    &.current {
      background: $main-purple;
      color: $white;
      user-select: none;
    }
  }
}

.rating {
  &__stars {
    width: 90px;
    height: 21px;
    -webkit-mask-image: url(../../images/star.svg);
    mask-image: url(../../images/star.svg);
    position: relative;
    &-bg {
      background: #DEDEDE;
      width: 100%;
      height: 100%;
    }
    &-val {
      background: $yellow;
      width: 89%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__value {
    color: $pale-grey;
    margin-left: 4px;
  }
}

.no-info {
  &__image {
    margin-inline: auto;
    width: 120px;
    height: 120px;
  }
  &__title {
    margin-top: 16px;
  }
  &__text {
    margin-top: 12px;
    color: $black-light;
  }
}

.std-form {
  width: 100%;
  max-width: 590px;
  background: $white;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    &:hover {
      transform: rotate(360deg);
    }
  }
  &__main-subtitle {
    margin-top: 8px;
    color: $specs-grey;
  }
  &__title {
    margin-top: 20px;
  }
  &__stars {
    margin-top: 5px;
    &-image {
      cursor: pointer;
      svg {
        fill: #E7E4DE;
      }
      &.active {
        svg {
          fill: $yellow;
        }
      }
    }
  }
  &__textarea {
    margin-top: 12px;
    width: 100%;
    height: 160px;
    padding: 16px;
    resize: none;
    background: $bg-color;
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    &::placeholder {
      color: $grey;
    }
    &:focus {
      border-color: $main-purple;
      background: $white;
    }
  }
  &__submit {
    margin-top: 20px;
    width: 100%;
  }
  &__success {
    width: 100%;
    max-width: 360px;
    background: $white;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    text-align: center;
    .img-wrapper-contain {
      width: 120px;
      height: 120px;
      margin: 30px auto 0;
    }
    .success {
      &-title {
        margin-top: 20px;
      }
      &-text {
        margin-top: 12px;
        color: $black-light;
      }
      &-button {
        margin-top: 20px;
        width: 100%;
      }
    }
  }
}