.checkout-select {
  position: relative;
  &__chosen {
    padding: 14px 14px 14px 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    background: $bg-color;
    cursor: pointer;
    &.active {
      background: $white;
      border-color: $grey;
      .checkout-select-arrow {
        transform: rotate(180deg);
        stroke: $black;
      }
    }
  }
  &-arrow {
    stroke: $grey;
  }
  &__menu {
    display: none;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    right: 0;
    max-height: 500px;
    overflow: auto;
    padding: 16px 10px;
    background: $white;
    border-radius: 4px;
    box-shadow: $shadow;
    z-index: 1;
    @include scrollbar;
    &__items {
      margin-top: 8px;
    }
    &__item {
      padding: 12px 10px;
      cursor: pointer;
      @media (hover: hover) {
        &:hover {
          background: $opacity-grey;
        }
      }
      &.active {
        svg {
          stroke: $black;
        }
      }
    }
    .checkout__input-item {
      margin-top: 0;
    }
  }
}