.delivery {
  &__place {
    gap: 24px;
    &__item {
      width: calc(50% - 12px);
      &-title {
        color: $black-light;
      }
      .checkout-select {
        margin-top: 8px;
      }
    }
    #delivery_city {
      #city-search {
        margin-bottom: 8px;
      }
    }
  }
  &__type {
    &-title {
      margin-top: 24px;
    }
    &__item {
      max-width: 480px;
      margin-top: 20px;
      border: 1px solid transparent;
      &.active {
        padding: 16px;
        border-color: $main-purple;
        border-radius: 6px;
      }
      .item {
        &__radio {
          gap: 12px;
          input,
          label {
            cursor: pointer;
          }
        }
        &__select {
          display: none;
          margin-top: 16px;
          &-title {
            color: $black-light;
            margin-bottom: 8px;
          }
          &__address {
            margin-top: 16px;
            &__item {
              width: calc(50% - 8px);
            }
          }
        }
      }
    }
  }
}