&__products {
  .products {
    &-title {
      color: inherit;
      margin-bottom: 20px;
    }
    &__list {
      margin-top: 20px;
      display: grid;
      grid-template-columns: 4% 51% repeat(3, 15%);
      &__head,
      &__body,
      &__item {
        display: grid;
        grid-template-columns: subgrid;
      }
      &__head {
        grid-column: 2 / span 4;
        color: $grey;
        &>p {
          color: inherit;
        }
      }
      &__body {
        margin-top: 24px;
        grid-column: span 5;
        row-gap: 16px;
      }
      &__item {
        grid-column: span 5;
        &-count {
          align-self: center;
          color: $dark-grey;
        }
        &-image {
          width: 58px;
          height: 58px;
          margin-right: 12px;
        }
        &-brand {
          margin-top: 8px;
          color: $dark-grey;
        }
      }
      @media screen and (max-width: 480px) {
        .list-col {
          display: none;
        }
      }
    }
  }
}