&__products {
  .products {
    &-title {
      color: inherit;
      margin-bottom: 20px;
    }
    &__list {
      margin-top: 20px;
      display: grid;
      grid-template-columns: 4% 51% repeat(3, 15%);
      &__head,
      &__body,
      &__item {
        display: grid;
        grid-template-columns: subgrid;
      }
      &__head {
        grid-column: 2 / span 4;
        color: $grey;
        &>p {
          color: inherit;
        }
      }
      &__body {
        margin-top: 24px;
        grid-column: span 5;
        row-gap: 16px;
      }
      &__item {
        grid-column: span 5;
        &-count {
          align-self: center;
          color: $dark-grey;
        }
        &-image {
          flex: 0 0 58px;
          height: 58px;
          margin-right: 12px;
        }
        &-brand {
          margin-top: 8px;
          color: $dark-grey;
        }
      }
      @media screen and (max-width: 480px), screen and (min-width: 769px) and (max-width: 900px) {
        grid-template-columns: 5% 75% 20%;
        &__head {
          grid-column: 2;
        }
        &__body {
          grid-column: span 3;
          row-gap: 22px;
        }
        &__item {
          grid-column: span 3;
          grid-template-rows: repeat(3, 1fr);
          row-gap: 10px;
          &-count,
          &-info {
            grid-row: span 3;
          }
          &-qty::before,
          &-eq::before {
            margin-right: 4px;
            color: $grey;
          }
          &-qty::before {
            content: "\d7";
          }
          &-eq::before {
            content: "=";
          }
        }
        .list-col {
          display: none;
        }
      }
    }
  }
}