.checkout-page__coupon {
  .coupon {
    &__head-button {
      text-decoration: none;
      cursor: pointer;
    }
    &-input {
      margin-top: 20px;
    }
    &-button {
      margin-top: 20px;
      width: 100%;
    }

    @media screen and (max-width: 480px) {
      &-title,
      &__head-button {
        font-size: 14px;
      }
      &-button {
        margin-top: 14px;
      }
    }
  }
  .woocommerce-error {
    display: none;
  }
}
