.edit-account {
  margin-top: 20px;
  &__personal {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 32px 32px 40px 32px;
    border-radius: 8px;
    background: $white;
    legend {
      margin: 0;
    }
  }
  .input__wrapper {
    width: calc((100% - 40px) / 3);
    label {
      font-size: 13px;
      line-height: 140%;
      color: $black-light;
    }
    .woocommerce-Input {
      margin-top: 8px;
    }
  }
  .woocommerce-Button {
    margin-top: 24px;
  }

  @media screen and (max-width: 1024px) {
    &__personal {
      display: block;
      legend {
        margin-bottom: 20px;
      }
    }
    .input__wrapper {
      margin-top: 20px;
      width: 100%;
    }
  }
  @media screen and (max-width: 640px) {
    .woocommerce-Button {
      margin-top: 20px;
      width: 100%;
    }
  }
  @media screen and (max-width: 640px) {
    &__personal {
      padding: 12px;
    }
  }
}