.favorites__item {
  width: calc(50% - 6px);
  padding: 12px;
  background: $white;
  border-radius: 6px;
  gap: 16px;
  &__image {
    width: 30%;
    min-width: 98px;
    max-width: 140px;
    @include flex-height(120);
  }
  &__info {
    position: relative;
    width: 70%;
  }
  &-title {
    width: fit-content;
    margin-right: 44px;
    margin-bottom: 8px;
    color: $black;
    @media (hover: hover) {
      &:hover {
        color: $main-purple;
      }
    }
  }
  &-brand {
    width: fit-content;
    margin-top: auto;
    margin-right: 50px;
    color: $dark-grey;
    @media (hover: hover) {
      &:hover {
        color: $black;
      }
    }
  }
  &__price {
    margin-top: 8px;
    gap: 8px;
    &-disc {
      color: $grey;
    }
  }
  &-delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    background: transparent;
    @media (hover: hover) {
      &:hover {
        background: $opacity-purple;
      }
    }
  }
  .buy-button {
    margin-top: 12px;
  }
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}