.account-page__orders {
  &-count {
    margin-top: 8px;
    color: $black-light;
  }
  &__sort {
    margin-top: 24px;
    gap: 12px;
    &-button {
      padding: 13px 35px;
      color: $main-purple;
      background: $opacity-grey;
      outline: none;
      border: none;
      border-radius: 44px;
      &.active {
        background: $main-purple;
        color: $white;
      }
    }
  }
  &__items {
    margin-top: 24px;
  }
  &__item {
    background: $white;
    border-radius: 8px;
    &:not(:first-child) {
      margin-top: 12px;
    }
    &.active {
      .item__arrow {
        svg {
          transform: rotate(180deg);
        }
      }
    }
    &__head {
      padding: 15px 24px;
      cursor: pointer;
    }
    &__body {
      display: none;
      padding: 9px 24px 20px;
    }
    .item {
      &__info {
        width: 65%;
        display: grid;
        grid-template-columns: 37% 27% 20%;
        justify-content: space-between;
        row-gap: 8px;
        &__row1 {
          color: $dark-grey;
        }
        &-status {
          .purple {
            color: $main-purple;
          }
          .green {
            color: $green;
          }
          .red {
            color: $red;
          }
        }
      }
      &__count {
        color: $grey;
        min-width: 40px;
      }
      &__thumbs {
        width: 25%;
        &-image {
          width: 50px;
          height: 50px;
        }
      }
      &__product {
        padding: 15px 0;
        border-bottom: 2px solid $light-grey;
        &-image {
          width: 10%;
          @include flex-height(100);
        }
        &__info {
          width: 40%;
          a {
            text-decoration: none;
          }
          &-title {
            color: $black;
          }
          &-subtitle {
            margin-top: 12px;
            color: $dark-grey;
          }
        }
        &__price,
        &__qty,
        &__total {
          width: 10%;
          text-align: center;
        }
      }
      &__footer {
        margin-top: 24px;
        .totals {
          &-qty {
            color: $black-light;
          }
          &-price {
            margin-top: 4px;
          }
        }
      }
    }
  }
  @import "orders-empty";
}