.account-page__security {
  padding: 32px 32px 40px;
  border-radius: 8px;
  background: $white;
  .input__wrapper {
    @media screen and (min-width: 901px) {
      width: 50%;
      min-width: 300px;
      margin-top: 20px;
    }
  }
  .security-submit-button {
    margin-top: 40px;
    &.success {
      background: $green;
    }
  }
  @media screen and (max-width: 480px) {
    padding: 12px;
    .security-submit-button {
      margin-top: 20px;
      width: 100%;
    }
  }
}