.brands {
  &__items {
    margin-top: 30px;
    gap: 16px 12px;
  }
  &__link {
    background: rgba(236, 236, 240, 0.80);
    text-decoration: none;
    @include link-arrow-hover();
  }
  &-item {
    width: calc((100% - 60px) / 6);
    @include flex-height(40);
    border: 1px solid transparent;
    border-radius: 60px;
    background: $white;
    @media (hover: hover) {
      &:hover {
        border-color: $hover-grey;
      }
    }
    &:active {
      border-color: $black-light;
    }
    &>img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      padding: 4% 12%;
    }
  }
  @media screen and (max-width: 990px) {
    &-item {
      width: calc((100% - 48px) / 5);
    }
  }
  @media screen and (max-width: 840px) {
    &__items {
      gap: 11px;
    }
    &-item {
      width: calc((100% - 33px) / 4);
    }
  }
  @media screen and (max-width: 600px) {
    &-item {
      width: calc((100% - 22px) / 3);
    }
  }
  @media screen and (max-width: 480px) {
    &__items {
      margin-top: 25px;
    }
    &-item {
      width: calc((100% - 11px) / 2);
    }
  }
}