.brands {
  &__items {
    margin-top: 30px;
    gap: 16px 12px;
  }
  &__link {
    background: rgba(236, 236, 240, 0.80);
    text-decoration: none;
    @include link-arrow-hover();
  }
  &-item {
    width: calc((100% - 60px) / 6);
    @include flex-height(40);
    border: 1px solid transparent;
    border-radius: 60px;
    background: $white;
    @media (hover: hover) {
      &:hover {
        border-color: $hover-grey;
      }
    }
    &:active {
      border-color: $black-light;
    }
    &>img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      padding: 4% 12%;
    }
  }
}