.footer {
  background: $footer-grey;
  padding-top: 50px;
  &__top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 56px;
    gap: 20px;
  }
  &__logo {
    justify-self: start;
    width: fit-content;
    height: 100%;
    max-height: 42px;
  }
  &__pay {
    grid-row: 2;
    align-self: end;
    &__items {
      margin-top: 20px;
      max-width: 192px;
      gap: 16px;
    }
    &-item {
      width: 88px;
      height: 50px;
      border-radius: 6px;
      overflow: hidden;
      background: $white;
    }
  }
  &__links {
    grid-row: span 2;
    justify-self: center;
    &__items {
      margin-top: 20px;
      &>ul {
        margin: 0;
        padding: 0;
        &>li {
          list-style: none;
          &:not(:first-child) {
            margin-top: 8px;
          }
          &>a {
            font-size: clamp(12px, 3vw, 13px);
            line-height: 120%;
            font-weight: 500;
            color: inherit;
            text-decoration: none;
            &:hover {
              color: $main-purple;
            }
          }
        }
      }
    }
  }
  &__contacts {
    grid-row: span 2;
    justify-self: center;
    &__content {
      margin-top: 20px;
    }
    &-phone {
      color: inherit;
      text-decoration: none;
      &:not(:first-child) {
        margin-top: 12px;
      }
      &-subtitle {
        margin-top: 12px;
        opacity: .5;
      }
    }
    &-schedule {
      margin-top: 4px;
      opacity: .5;
    }
    &-email {
      margin-top: 20px;
      color: rgba(73, 69, 88, 0.60);
      a {
        color: $black;
        text-decoration: none;
        @media (hover: hover) {
          &:hover {
            color: $main-purple;
          }
        }
      }
    }
  }
  &__bottom {
    border-top: 1px solid rgba(73, 69, 88, 0.20);
    padding: 10px 0 29px;
  }
  &__copyright {
    color: rgba(73, 69, 88, 0.50);
  }

  @media screen and (max-width: 640px) {
    padding-top: 30px;
    &__top {
      padding-bottom: 36px;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 50px;
    }
    &__logo {
      grid-column: span 2;
      height: 34px;
    }
    &__links,
    &__contacts {
      grid-row: 2;
      justify-self: start;
    }
    &__links__items {
      margin-top: 15px;
    }
    &__pay {
      grid-row: 3;
      grid-column: span 2;
      &__items {
        max-width: 100%;
        gap: 10px;
      }
      &-item {
        width: 81px;
        height: 45px;
      }
    }
    &__bottom {
      padding-bottom: 12px;
    }
  }
}