.user-login {
  width: 100%;
  max-width: 480px;
  padding: 20px;
  background: $white;
  border-radius: 8px;
  position: relative;
  .login {
    &-title {
      margin-top: 4px;
    }
    &__close {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    &__switch {
      width: 310px;
      margin: 24px auto 0;
      padding: 8px;
      background: $bg-color;
      border-radius: 46px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 8px;
        bottom: 8px;
        background: $main-purple;
        border-radius: 44px;
      }
      &:has(.login-signin.active) {
        &::after {
          left: 8px;
          right: 50%;
        }
      }
      &:has(.login-signup.active) {
        &::after {
          left: 50%;
          right: 8px;
        }
      }
      &-button {
        width: 50%;
        padding: 14px;
        border: none;
        background: transparent;
        color: $black;
        z-index: 1;
        &.active {
          color: $white;
        }
      }
    }
    &-remember {
      margin-top: 20px;
      .lost-password {
        background: transparent;
        border: none;
        color: $main-purple;
      }
    }
    &__other {
      margin-top: 32px;
      &-title {
        color: $grey;
      }
      &__items {
        margin-top: 20px;
        gap: 12px;
      }
      &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 52px;
        gap: 8px;
        border: 1px solid $light-grey;
        border-radius: 4px;
        background: $bg-color;
        text-decoration: none;
        color: inherit;
        &:hover {
          border-color: $grey;
          color: $main-purple;
        }
        &:active {
          background: $light-grey;
        }
      }
    }
    &-submit-button {
      margin-top: 24px;
    }
    &-new-password {
      color: $black-light;
    }
  }
  .remember {
    &-input {
      position: relative;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        top: -3px;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 2px;
        background-color: $light-grey;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 7px;
        width: 7px;
        height: 12px;
        border: solid $white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        opacity: 0;
      }
      &:checked::before {
        background-color: $main-purple;
      }
      &:checked::after {
        opacity: 1;
      }
    }
    span {
      margin-left: 12px;
      color: $black-light;
    }
  }
  #registerform {
    display: none;
    fieldset:not(:first-child) {
      margin-top: 24px;
    }
    .register-submit-button {
      margin-top: 24px;
    }
    .remember {
      margin-top: 20px;
    }
  }
  .user-login-form {
    margin-top: 24px;
    overflow: auto;
    @include scrollbar;
  }
  .input__wrapper {
    &:not(:first-child) {
      margin-top: 16px;
    }
    input {
      margin-top: 8px;
    }
  }
}