.product-item {
  display: flex !important;
  flex-direction: column;
  position: relative;
  padding: 10px;
  border-radius: 6px;
  background: $white;
  height: 100%;
  &__heart {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    z-index: 1;
    &::after {
      content: url("../../images/heart-fill.svg");
      position: absolute;
      inset: 0;
      opacity: 0;
    }
    svg {
      stroke: #3D3A4A;
      opacity: .15;
      position: relative;
    }
    @media (hover: hover) {
      &:hover {
        svg {
          stroke: $main-purple;
          opacity: .8;
        }
      }
    }
    &:active,
    &.active {
      &::after {
        opacity: 1;
      }
      &:hover {
        svg {
          stroke: transparent;
        }
      }
    }
  }
  &__image {
    @include flex-height(100);
  }
  &__title {
    text-decoration: none;
    color: $black;
    margin-top: 12px;
    margin-bottom: 8px;
  }
  .rating {
    margin-top: auto;
  }
  &__price {
    margin-top: auto;
    &-disc {
      line-height: 200%;
      text-decoration: line-through;
      margin-left: 8px;
      color: $pale-grey;
    }
  }
  .buy-button {
    margin-top: 16px;
  }

  @media screen and (max-width: 375px) {
    padding: 7px;
    border-radius: 4px;
    &__title {
      margin-top: 8px;
      margin-bottom: 10px;
    }
    .buy-button {
      margin-top: 12px;
    }
  }
}