.header-search {
  flex: 1 1 auto;
  position: relative;
  height: 100%;
  container-type: inline-size;
  @container (max-width: 480px) {
    .header-search__menu {
      @media screen and (max-width: 1399px) {
        left: -124px;
        right: -124px;
      }
      //@media screen and (max-width: 480px) {
      //  left: -48px;
      //  right: -124px;
      //}
    }
  }
  &--button {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 901px) {
      display: none;
    }
  }
  &__form {
    height: 100%;
  }
  &__input {
    width: 100%;
    height: 100%;
    background: $light-grey;
    padding: 2px 16px;
    border-radius: 4px 0 0 4px;
    border: 1px solid transparent;
    outline: none;
    &:focus {
      border-color: $main-purple;
      background: $white;
    }
  }
  &__button {
    margin-left: -7px;
    padding: 0 30px;
    line-height: 18px;
    @media (hover: hover) {
      &:hover {
        background: $hover-purple;
      }
    }
    &:active {
      background: $black;
    }
    span {
      color: inherit;
    }
    i {
      display: none;
    }
  }
  &__menu {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    right: 0;
    background: $white;
    border-radius: 4px;
    max-height: 300px;
    overflow: auto;
    padding: 16px;
    box-shadow: $shadow;
    @include scrollbar;
    &__col1 {
      width: 50%;
      .search {
        &-try {
          display: none;
          margin-bottom: 28px;
          &.active {
            display: block;
          }
          &__item {
            margin-top: 14px;
            width: fit-content;
            cursor: pointer;
            text-decoration: none;
            color: inherit;
          }
          &__link {
            @media (hover: hover) {
              &:hover {
                color: $main-purple;
              }
            }
          }
        }
      }
    }
    &__col2 {
      width: 45%;
      .search-popular {
        &__items {
          margin-top: 20px;
          padding-bottom: 16px;
        }
        &__item {
          text-decoration: none;
          color: $black;
          gap: 12px;
          &:not(:first-child) {
            margin-top: 16px;
          }
          &-image {
            width: 60px;
            @include flex-height(113);
            flex: 0 0 auto;
          }
          &__info {
            &__disc {
              margin-top: 5px;
              &-value {
                text-decoration: line-through;
                color: $pale-grey;
              }
              &-perc {
                margin-left: 4px;
                background: $yellow;
                color: $white;
                padding: 2px 4px;
                border-radius: 4px;
              }
            }
            &-price {
              margin-top: 4px;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    &__button {
      padding: 0 15px;
      span {
        display: none;
      }
      i {
        display: inline;
      }
    }
  }
  @media screen and (max-width: 768px) {
    &__button {
      padding: 0 7px;
    }
  }
}