.info__main {
  gap: 20px;
  &__col1 {
    width: 42%;
  }
  &__image {
    position: relative;
    background: $white;
    border-radius: 6px;
    .sale-val {
      position: absolute;
      top: 14px;
      left: 14px;
      background: $yellow;
      color: $white;
      padding: 5px 10px;
      border-radius: 3px;
      z-index: 1;
    }
    &-main {
      @include flex-height(95);
    }
    &__gallery {
      position: absolute;
      bottom: 16px;
      left: 16px;
      right: 16px;
      height: 60px;
      gap: 12px;
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      &>img {
        width: 60px;
        height: 60px;
        object-fit: contain;
        border-radius: 4px;
        flex: 0 0 auto;
        background: $white;
        border: 1px solid transparent;
        cursor: pointer;
        &:hover {
          border-color: $main-purple;
        }
      }
    }
  }
  &__col2 {
    width: 53%;
  }
  &-subtitle {
    margin-top: 8px;
    gap: 10px;
    .rating__value {
      color: $black;
    }
    .sku {
      &>span {
        color: $grey;
      }
    }
  }
  &-in-stock {
    margin-top: 20px;
    color: $green;
    &::before {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: 0 8px 1px 2px;
      background: $green;
      border-radius: 8px;
    }
  }
  &-out-stock {
    margin-top: 20px;
    padding-left: 18px;
    color: $red;
    position: relative;
    &::before,
    &::after {
      content: '';
      display: block;
      width: 10px;
      height: 2px;
      position: absolute;
      top: 6px;
      left: 2px;
      background: $red;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
  &__price {
    margin-top: 32px;
    gap: 8px;
    align-items: baseline;
    &-disc {
      color: $grey;
    }
  }
  &__buttons {
    margin-top: 12px;
    gap: 12px;
    .single-product-fav {
      width: 52px;
      height: 52px;
      background: $light-grey;
      svg {
        stroke: $black;
      }
      @media (hover: hover) {
        &:hover {
          background: #E8E8EF;
          svg {
            stroke: $main-purple;
          }
        }
      }
      &:active,
      &.active {
        background: $main-purple;
        transition-duration: $fast-transition;
        svg {
          stroke: $white;
        }
      }
    }
  }
  .buy-button {
    min-width: 243px;
  }
  &__specs {
    &-title {
      margin-top: 32px;
    }
    &__items {
      margin-top: 20px;
    }
    &__item {
      &:not(:first-child) {
        margin-top: 12px;
      }
      &-title {
        color: $specs-grey;
      }
      &-value {
        color: inherit;
        text-decoration: none;
        @media (hover: hover) {
          &:hover {
            color: $main-purple;
          }
        }
      }
    }
  }
}
