.info__advanced__reviews {
  .reviews {
    &__items {
      margin-top: 30px;
    }
    &__more {
      margin-top: 24px;
    }

    @media screen and (max-width: 768px) {
      &__items,
      &__more {
        margin-top: 20px;
      }
    }
  }
}