.checkout-header {
  margin-top: 30px;
  @media screen and (max-width: 480px) {
    margin-top: 14px;
  }
}
.checkout-page {
  &.filler {
    padding-top: 36px;
  }
  &__body {
    @media screen and (min-width: 769px) {
      margin-top: 36px;
      &__form {
        display: grid;
        grid-template-columns: 75% 25%;
        gap: 12px;
        &>*:not(#payment) {
          grid-column: 1;
        }
      }
      &__total {
        min-width: 260px;
        grid-column: 2;
        grid-row: 1 / span 5;
      }
    }
  }
  .woocommerce {
    &-notices-wrapper,
    &-NoticeGroup {
      display: none;
    }
    &-checkout {
      #payment {
        background: none;
        border-radius: 0;
        div.form-row {
          padding: 0;
        }
      }
    }
    &-shipping-fields {
      display: none;
    }
  }
  &__section {
    padding: 24px;
    background: $white;
    border: 1px solid transparent;
    border-radius: 8px;
    opacity: .5;
    &__body {
      display: none;
    }
    &.active {
      border-color: $hover-grey;
      opacity: 1;
    }
    .contacts__body {
      display: block;
    }
    &-title {
      gap: 12px;
      & > span {
        width: 28px;
        height: 28px;
        border-radius: 24px;
        background: $main-purple;
        color: $white;
      }
    }
    &__body,
    &__ready {
      margin-top: 32px;
    }
    &__ready {
      display: none;
      .ready__item {
        &:not(:first-child) {
          margin-top: 12px;
        }
        .icon-wrapper {
          margin-right: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
          border-radius: 2px;
          background: $bg-color;
          flex: 0 0 auto;
        }
        &-text {
          font-size: 14px;
          color: $black-light;
        }
      }
    }
  }
  .checkout {
    @media screen and (min-width: 481px) {
      &__inputs {
        display: flex;
        flex-wrap: wrap;
        gap: 16px 24px;
      }
      &__input {
        width: calc((100% - 24px) / 2);
        &-item {
          margin-top: 8px;
        }
      }
    }
    &-change-button {
      display: none;
      font-size: 14px;
    }
    &-next-button {
      margin-top: 28px;
      &:disabled {
        opacity: .5;
      }
    }
  }
  @import "../components/checkout/checkout-products";
  @import "../components/checkout/checkout-delivery";
  &__payment {
    &__item-label {
      font-size: 14px;
    }
  }
  &__comment {
    opacity: 1;
    cursor: pointer;
    &.active {
      .comment-title::before {
        transform: rotate(180deg);
      }
      .comment-title::after {
        transform: rotate(180deg);
      }
    }
    .comment {
      &-title {
        padding-left: 36px;
        color: $main-purple;
        position: relative;
        user-select: none;
        &::before,
        &::after {
          content: '';
          position: absolute;
          top: calc(50% - 3px);
          left: 4px;
          width: 16px;
          height: 3px;
          background: $main-purple;
        }
        &::after {
          transform: rotate(90deg);
        }
      }
      &-textarea {
        width: 100%;
        height: 110px;
        padding: 17px 16px;
        background: $bg-color;
        resize: none;
        outline: none;
        border-color: transparent;
        border-radius: 4px;
        &::placeholder {
          color: $grey;
        }
        &:focus {
          background: $white;
          border-color: $main-purple;
        }
        @include scrollbar;
      }
      &-button {
        margin-top: 20px;
      }
      &__ready {
        display: none;
      }
    }
  }
  &__total,
  &__coupon {
    opacity: 1;
  }
  &__coupon {
    margin-top: 12px;
  }
  .total {
    &-items {
      font-size: 14px;
      color: $grey;
    }
    &__body {
      margin-top: 32px;
      &__item {
        &:not(:first-child) {
          margin-top: 12px;
        }
        &-title {
          color: $grey;
          font-size: 14px;
        }
        &-value {
          font-size: 14px;
        }
      }
    }
    &__to_pay {
      margin-top: 32px;
    }
  }
  .coupon {
    &__body {
      display: none;
    }
  }
  @import "../components/checkout/checkout-coupon";
  &__confirm {
    display: none;
    margin-top: 12px;
    .confirm {
      &-button#place_order {
        float: none !important;
      }
      &-text {
        margin-top: 12px;
        color: $dark-grey;
        &>a {
          color: $black;
          text-decoration: none;
          @media (hover: hover) {
            &:hover {
              color: $main-purple;
            }
          }
        }
      }
    }
  }
  &__payment {
    .payment__item {
      display: flex;
      gap: 12px;
      &:not(:first-child) {
        margin-top: 20px;
      }
      &-label {
        font-size: 14px;
      }
      &-subtitle {
        margin: -13px 0 0 36px;
        width: 100%;
        color: $grey;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .filler {
      padding-top: 32px;
    }
    &__body {
      margin-top: 24px;
    }
  }
  @media screen and (max-width: 480px) {
    &__section {
      padding: 14px;
      &__body,
      &__ready {
        margin-top: 22px;
      }
      &__ready {
        margin-bottom: 8px;
      }
    }
    .checkout {
      &__input {
        &:not(:first-child) {
          margin-top: 20px;
        }
        &-item {
          margin-top: 8px;
        }
      }
      &-next-button {
        margin-top: 22px;
        padding: 17px;
        width: 100%;
      }
    }
    &__comment {
      .comment {
        &-textarea {
          font-size: 16px;
        }
        &-button {
          margin-top: 8px;
          width: 100%;
        }
      }
    }
    &__body__col2 {
      margin-top: 12px;
    }
    .total {
      &__body,
      &__to_pay {
        margin-top: 20px;
      }
      &__to_pay-value {
        font-size: 16px;
      }
    }
  }
}