.checkout-header {
  margin-top: 30px;
}
.checkout-page {
  //.woocommerce {
  //  &-notices-wrapper,
  //  &-form-coupon-toggle {
  //    display: none;
  //  }
  //  &-checkout {
  //    .col-2 {
  //      display: none;
  //    }
  //    &-review-order,
  //    &-review-order-table {
  //      display: none;
  //    }
  //    h3 {
  //      display: none;
  //    }
  //  }
  //  &-billing-fields__field-wrapper {
  //    display: none;
  //  }
  //}
  &.filler {
    padding-top: 36px;
  }
  &__body {
    margin-top: 36px;
    gap: 12px;
    &__col1 {
      width: calc(75% - 6px);
    }
    &__col2 {
      width: calc(25% - 6px);
    }
  }
  &__section {
    padding: 24px;
    background: $white;
    border: 1px solid transparent;
    border-radius: 8px;
    opacity: .5;
    &:not(:first-child) {
      margin-top: 12px;
    }
    &__body {
      display: none;
    }
    &.active {
      border-color: $hover-grey;
      opacity: 1;
    }
    .contacts__body {
      display: block;
    }
    &-title {
      gap: 12px;
      & > span {
        width: 28px;
        height: 28px;
        border-radius: 24px;
        background: $main-purple;
        color: $white;
      }
    }
    &__body,
    &__ready {
      margin-top: 32px;
    }
    &__ready {
      display: none;
      .ready__item {
        &:not(:first-child) {
          margin-top: 12px;
        }
        .icon-wrapper {
          margin-right: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
          border-radius: 2px;
          background: $bg-color;
        }
      }
    }
  }
  .checkout {
    &__inputs {
      gap: 16px 24px;
    }
    &__input {
      width: calc((100% - 24px) / 2);
      label {
        color: $black-light;
      }
      &-item {
        margin-top: 8px;
        width: 100%;
        background: $bg-color;
        border: 1px solid transparent;
        border-radius: 4px;
        padding: 17px 16px;
        outline: none;
        &:focus {
          background: $white;
          border-color: $main-purple;
        }
      }
    }
    &-change-button {
      display: none;
    }
    &-next-button {
      margin-top: 28px;
    }
  }
  @import "../components/checkout/checkout-products";
  @import "../components/checkout/checkout-delivery";
  &__comment {
    opacity: 1;
    cursor: pointer;
    &.active {
      .comment-title::before {
        transform: rotate(180deg);
      }
      .comment-title::after {
        transform: rotate(180deg);
      }
    }
    .comment {
      &-title {
        padding-left: 36px;
        color: $main-purple;
        position: relative;
        user-select: none;
        &::before,
        &::after {
          content: '';
          position: absolute;
          top: calc(50% - 3px);
          left: 4px;
          width: 16px;
          height: 3px;
          background: $main-purple;
        }
        &::after {
          transform: rotate(90deg);
        }
      }
      &-textarea {
        width: 100%;
        height: 110px;
        padding: 17px 16px;
        background: $bg-color;
        resize: none;
        outline: none;
        border-color: transparent;
        border-radius: 4px;
        &::placeholder {
          color: $grey;
        }
        &:focus {
          background: $white;
          border-color: $main-purple;
        }
        @include scrollbar;
      }
      &-button {
        margin-top: 20px;
      }
      &__ready {
        display: none;
      }
    }
  }
  &__total,
  &__coupon {
    opacity: 1;
  }
  .total {
    &-items {
      color: $grey;
    }
    &__body {
      margin-top: 32px;
      &__item {
        &:not(:first-child) {
          margin-top: 12px;
        }
        &-title {
          color: $grey;
        }
      }
    }
    &__to_pay {
      margin-top: 32px;
    }
  }
  @import "../components/checkout/checkout-coupon";
  &__confirm {
    display: none;
    margin-top: 12px;
    .confirm-text {
      margin-top: 12px;
      color: $dark-grey;
      &>a {
        color: $black;
        text-decoration: none;
        @media (hover: hover) {
          &:hover {
            color: $main-purple;
          }
        }
      }
    }
  }
  &__payment {
    .payment__item {
      position: relative;
      gap: 12px;
      &:not(:first-child) {
        margin-top: 20px;
      }
      &-subtitle {
        position: absolute;
        bottom: -13px;
        left: 36px;
        color: $grey;
        white-space: nowrap;
      }
    }
  }
}