.info-page {
  &__menu {
    padding: 12px;
    background: $white;
    border-radius: 8px;
    &>ul {
      margin: 0;
      padding: 0;
      &>li {
        list-style: none;
        color: $black-light;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: all .3s ease-in-out;
        &:not(:first-child) {
          margin-top: 4px;
        }
        @media (hover: hover) {
          &:not(.current_page_item):hover {
            color: $main-purple;
            border-color: $opacity-purple;
          }
        }
        &.current-menu-item {
          background: $opacity-purple;
          color: $main-purple;
        }
        &>a {
          display: block;
          text-decoration: none;
          color: inherit;
          font-size: clamp(14px, 1.5vw, 16px);
          line-height: 135%;
          font-weight: 500;
          padding: 16px 17px;
        }
      }
    }
  }
  &__content {
    @media screen and (min-width: 901px) {
      display: grid;
      grid-template-columns: 26% 72%;
      grid-template-rows: auto auto;
      gap: 2%;
      margin-top: 30px;
    }
    &__col1 {
      grid-column: 1;
      grid-row: 1 / 3;
    }
    &-title {
      grid-column: 2;
    }
    &__col2 {
      grid-column: 2;
    }
    &__body {
      padding: 32px;
      border-radius: 8px;
      background: $white;
      .icon-text {
        gap: 12px;
        &__icon {
          border-radius: 4px;
          background: $opacity-purple;
        }
        &__text {
          color: inherit;
        }
      }
      &__additional {
        margin-top: 24px;
        padding: 12px 16px;
        border-radius: 4px;
        background: $opacity-purple;
        gap: 10px;
        &-text {
          color: $main-purple;
        }
      }
      &__num-list {
        margin: 24px 0 0;
        padding-left: 18px;
      }
      &__dot-list {
        padding-left: 4px;
        &>li {
          list-style: disc;
        }
      }
      .contacts {
        &__icontext {
          gap: 12px;
          &:first-child {
            margin-top: 16px;
          }
          &:not(:first-child) {
            margin-top: 12px;
          }
          &>a {
            text-decoration: none;
            color: $black-light;
            @media (hover: hover) {
              &:hover {
                color: $main-purple;
              }
            }
          }
        }
        &-additional {
          margin-top: 24px;
          color: $black-light;
          &::before {
            content: '';
            display: inline-block;
            width: 5px;
            height: 5px;
            background: $black-light;
            border-radius: 5px;
            margin: 2px 12px;
          }
        }
      }
    }
  }
  &__delivery {
    &__logo-image {
      margin-top: 20px;
      max-width: 100px;
      @include flex-height(40);
    }
    &__list {
      margin: 12px 0 0;
      padding-left: 20px;
      .list__item {
        &:not(:first-child) {
          margin-top: 12px;
        }
        &::marker {
          color: $main-purple;
        }
        &-title {
          font-size: inherit;
          color: $main-purple;
        }
        &-text {
          margin-top: 4px;
          a {
            color: $main-purple;
            text-decoration: none;
            &:hover {
              color: $hover-purple;
            }
          }
        }
      }
    }
    &-text {
      margin-top: 20px;
      &--bottom {
        margin-top: 30px;
      }
    }
    &__contacts {
      margin-top: 20px;
      .contacts__item {
        &:not(:first-child) {
          margin-top: 12px;
        }
        a:hover {
          color: $hover-purple;
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    &__content {
      margin-top: 22px;
      display: block;
      &__col1 {
        margin-top: 16px;
        padding: 20px 14px;
        position: relative;
      }
      &__col2 {
        margin-top: 10px;
      }
      &__body {
        padding: 20px 14px;
      }
    }
    &__menu {
      //position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      z-index: 1;
    }
  }
}