.lost-password-page {
  display: grid;
  place-content: center;
  height: calc(100vh - 180px);
  #resetpassform {
    max-width: 480px;
    padding: 20px;
    background: $white;
    border-radius: 8px;
    .input__wrapper {
      margin-top: 16px;
    }
    #resetpass-button {
      margin-top: 24px;
      width: 100%;
    }
  }
}