.search-page {
  &-title {
    margin-top: 24px;
  }
  .categories {
    margin-top: 40px;
  }
  &__content {
    margin-top: 20px;
    gap: 16px;
  }
  &__results {
    width: 100%;
    &__items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px 12px;
    }
  }
  &__not-found {
    margin-top: 30px;
    gap: 16px;
    &__col1,
    &__col2 {
      background: $white;
      border-radius: 8px;
      padding: 30px;
    }
    &__col1 {
      width: calc(60% - 8px);
      gap: 30px;
    }
    .col1 {
      &__content {
        &-help {
          margin-top: 24px;
          color: $pale-grey;
          &-variants {
            margin-top: 12px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 12px 10px;
            max-width: 370px;
            &>a {
              color: $main-purple;
              &:hover {
                color: $hover-purple;
              }
            }
          }
        }
      }
    }
    &-image {
      width: 110px;
      @include flex-height(114);
      align-self: start;
    }
    &__col2 {
      width: calc(40% - 8px);
    }
    .col2 {
      &__advice {
        &__list {
          margin-top: 20px;
          &-item {
            margin-top: 8px;
            list-style: none;
            position: relative;
            &::before {
              content: '';
              display: block;
              width: 12px;
              height: 7px;
              border-radius: 2px;
              background: $main-purple;
              position: absolute;
              top: 4px;
              left: -24px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    &__results {
      &__items {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  @media screen and (max-width: 900px) {
    &__results {
      &__items {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &__not-found {
      &__col1,
      &__col2 {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 768px) {
    &__filter {
      position: fixed;
      top: 0;
      left: -100%;
      right: 100%;
      bottom: 0;
      background: $white;
      overflow: auto;
      z-index: 1090;
      &.active {
        left: 0;
        right: 0;
      }
      .product-filter {
        width: 100%;
      }
    }
    &__results {
      &__items {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  @media screen and (max-width: 480px) {
    &__results {
      &__items {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
      }
    }
    &__not-found {
      &__col1,
      &__col2 {
        padding: 20px 14px;
      }
      .col1__content-help-variants {
        grid-template-columns: auto;
      }
    }
  }
}