.single-product-page {
  .single-product__info {
    margin-top: 50px;
    @import "../components/single-product/info-main";
    @import "../components/single-product/info-advanced";
    @import "../components/single-product/reviews";
    @import "../components/single-product/questions";
    @import "../components/single-product/info-rating";
  }
  .top {
    margin-top: 40px;
  }
  .blur-bg {
    z-index: 1020;
  }
}