.category-page {
  .section-title {
    margin-top: 24px;
  }
  .subcategory {
    &__items {
      margin-top: 30px;
      gap: 12px;
    }
    &__item {
      padding: 12px 24px;
      border-radius: 44px;
      background: $white;
      text-decoration: none;
      border: 1px solid $opacity-purple;
      &-title {
        text-align: center;
        color: $black;
      }
      @media (hover: hover) {
        &:hover {
          border-color: $main-purple;
          .subcategory__item-title {
            color: $hover-purple;
          }
        }
      }
    }
  }
  .cat-products.section-title {
    margin-top: 40px;
  }
  .banner {
    margin-top: 20px;
  }

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    .breadcrumbs {
      order: -1;
    }
    .banner {
      order: -1;
      margin-top: 10px;
    }
    .header__catalog--body {
      order: -1;
      margin-top: 10px;
    }
    .section-title {
      margin-top: 32px;
    }
    .subcategory {
      &__items {
        margin-top: 24px;
        gap: 8px;
      }
      &__item {
        padding: 7px 20px;
      }
    }
    .cat-products.section-title {
      margin-top: 0;
    }
  }
  @media screen and (max-width: 480px) {
    .subcategory {
      &-title {
        order: -1;
        &~.products-count {
          order: -1;
        }
      }
      &__items {
        order: -1;
      }
    }
    .header__catalog--body {
      margin-top: 22px;
    }
    .cat-products.section-title {
      margin-top: 55px;
    }
  }
}